body {
    background-color: rgb(213, 228, 223);
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: beige;
    height: 40px;
    align-items: center;
}


.navbar>a {
    color: gray;
    font-size: larger;
    cursor: pointer;
    text-decoration: none;
}


.navbar>a:hover {
    background-color: antiquewhite;
    padding: 8px 20px;
}


.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: rgb(173, 219, 203);
    padding: 30px 40px;
    border: 1px solid whitesmoke;
}

form>div>label {
    display: block;
    margin: 10px 0px;
    font-weight: 800;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form>div>input {
    padding: 5px 3px;
    background-color: rgb(231, 242, 242);
}

form>div select {
    width: 100%;
    padding: 7px 5px;
    background-color: rgb(231, 242, 242);
}

.submitDiv {
    display: flex;
    justify-content: end;
}

#submit {
    margin: 5px 0px;
    background-color: bisque;
    border: 1px solid whitesmoke;
    padding: 4px 8px;
    cursor: pointer;
}

select>option {
    background-color: antiquewhite;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

th,
td {
    border: 1px solid #333;
    padding: 8px 12px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}